# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/build

# Local Env / DB / Uploads
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/db.json
backend/uploads/*
backend/downloads/*
!backend/uploads/.gitkeep
!backend/downloads/.gitkeep

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
